@use './vars' as v;

body{
  color: white;
  font: v.$Helvetica;
  background-color: #222222;
}

.simplebar-scrollbar::before {
  background-color: white !important;
}

//html, body, body>div, body>div>div{
//  height: 100%;
//}
