$c_global: rgba(0, 0, 0, 0.20);
$c_main: rgba(51, 51, 51, 0.35);
//$c_border: #383838; // basic one
$c_border: rgba(56, 56, 56, 0.61);
$c_border_second: #4b4b4b;
$c_readOnly: rgba(70, 70, 70, 0.52);
$c_accent:#29ADAB;

$Helvetica: 400 18px Helvetica;
$HelveticaNeueCyr: 400 18px HelveticaNeueCyr;

$borderRadius: 5px;
