@use '../../app/vars' as v;

.header {
  height: 50px;
  background: v.$c_main;
  background-blend-mode: lighten;

  border-bottom: 1px solid v.$c_border_second;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.62);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
}

.nav {
  max-width: 1440px;
  width: 100%;

  padding: 0 25px;

  display: flex;
  gap: 50px;
}

.link {

}

.tab{
  position: absolute;
  height: 3px;
  background-color: v.$c_accent;
  border-radius: 2px;
  top: 38px;

  transition: 200ms ease-in-out;

  width: 33.78px;
}
