@use '../../app/vars' as v;

.inputWrapper {
  font-size: 14px;

  border-radius: v.$borderRadius;

  user-select: none;

  transition: 250ms;

  position: relative;
}

.test{
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 8px 11px;
}

.inputInvisible{
  opacity: 0;
  pointer-events: none;
}

.label {
  position: absolute;
  top: 8px;
  left: 10px;
  padding: 0 8px;

  transition: 250ms;
  pointer-events: none;
  font-size: 14px;
}

.error{
  border-color: rgb(150, 0, 0);
}

//.readOnly{
//  background-color: #3d3d3d;
//}

.fieldsetBorder{
  margin-left: 10px;
  max-width: 0.01px;
}
